<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.DiagnosticsKit.extension</key>
	<true/>
	<key>com.apple.hid.manager.user-access-keyboard</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>BasebandUniqueId</string>
		<string>BluetoothAddress</string>
		<string>EUICCChipID</string>
		<string>IntegratedCircuitCardIdentifier</string>
		<string>InternationalMobileEquipmentIdentity</string>
		<string>MesaSerialNumber</string>
		<string>MLBSerialNumber</string>
		<string>MobileEquipmentInfoCSN</string>
		<string>MobileEquipmentIdentifier</string>
		<string>RawPanelSerialNumber</string>
		<string>SerialNumber</string>
		<string>UniqueChipID</string>
		<string>UniqueDeviceID</string>
		<string>WifiAddress</string>
		<string>WirelessBoardSnum</string>
	</array>
	<key>com.apple.private.externalaccessory.showallaccessories</key>
	<true/>
	<key>com.apple.private.hid.client.admin</key>
	<true/>
	<key>com.apple.private.hid.client.event-filter</key>
	<true/>
	<key>com.apple.private.hid.client.service-protected</key>
	<true/>
	<key>com.apple.private.hid.manager.client</key>
	<true/>
	<key>com.apple.security.exception.carrier-bundle.read</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/mobile/Library/Logs/AppleSupport/</string>
		<string>/private/var/logs/AppleSupport/</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>IOAccessoryManagerUserClient</string>
		<string>AppleSPUHIDDeviceUserClient</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.Diagnostics</string>
	</array>
	<key>com.apple.system.diagnostics.iokit-properties</key>
	<true/>
	<key>com.apple.system.get-hardware-identifiers</key>
	<true/>
</dict>
</plist>
