<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adi-client</key>
	<string>821141022</string>
	<key>application-identifier</key>
	<string>243LU875E5.com.apple.podcasts</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>aps-environment</key>
	<string>production</string>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.CoreRoutine.Application</key>
	<true/>
	<key>com.apple.CoreTelephony.DataUsageInfo.allow</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.accounts.facebook.defaultaccess</key>
	<true/>
	<key>com.apple.application-identifier</key>
	<string>243LU875E5.com.apple.podcasts</string>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.avfoundation.allow-system-wide-context</key>
	<true/>
	<key>com.apple.avfoundation.allows-access-to-device-list</key>
	<true/>
	<key>com.apple.avfoundation.allows-set-output-device</key>
	<true/>
	<key>com.apple.container2</key>
	<true/>
	<key>com.apple.coreidvd.spi</key>
	<true/>
	<key>com.apple.developer.ClassKit-environment</key>
	<string>production</string>
	<key>com.apple.developer.associated-domains</key>
	<array/>
	<key>com.apple.developer.carplay-audio</key>
	<true/>
	<key>com.apple.developer.pass-type-identifiers</key>
	<array>
		<string>*.pass.com.apple.itunes.storecredit</string>
	</array>
	<key>com.apple.developer.usernotifications.time-sensitive</key>
	<true/>
	<key>com.apple.excludes-extensions</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.launchservices.receivereferrerrurl</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.mediaremote.send-commands</key>
	<true/>
	<key>com.apple.mediaremote.set-playback-state</key>
	<true/>
	<key>com.apple.mobile.deleted.AllowFreeSpace</key>
	<true/>
	<key>com.apple.mobile.keybagd.UserManager.logout</key>
	<true/>
	<key>com.apple.payment.card-on-file</key>
	<true/>
	<key>com.apple.private.ClassKit.dashboard</key>
	<true/>
	<key>com.apple.private.CoreAuthentication.SPI</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.attribution.implicitly-assumed-identity</key>
	<dict>
		<key>type</key>
		<string>bundleID</string>
		<key>value</key>
		<string>com.apple.podcasts</string>
	</dict>
	<key>com.apple.private.bmk.allow</key>
	<true/>
	<key>com.apple.private.canGetAppLinkInfo</key>
	<true/>
	<key>com.apple.private.canModifyAppLinkPermissions</key>
	<true/>
	<key>com.apple.private.cfnetwork.har-capture-amp</key>
	<true/>
	<key>com.apple.private.coreservices.alwaysEligibleEvenWhenInBackground</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.corespotlight.internal</key>
	<true/>
	<key>com.apple.private.fpsd.client</key>
	<true/>
	<key>com.apple.private.hid.client.event-dispatch.internal</key>
	<true/>
	<key>com.apple.private.iosmac.unscaled</key>
	<true/>
	<key>com.apple.private.mobileinstall.upgrade-enabled</key>
	<true/>
	<key>com.apple.private.mobileinstall.xpc-services-enabled</key>
	<true/>
	<key>com.apple.private.podcasts.PodcastContentService.client</key>
	<true/>
	<key>com.apple.private.rtcreportingd</key>
	<true/>
	<key>com.apple.private.security.container-required</key>
	<true/>
	<key>com.apple.private.security.system-application</key>
	<true/>
	<key>com.apple.private.social.facebook.like</key>
	<true/>
	<key>com.apple.private.sociallayer.highlights</key>
	<true/>
	<key>com.apple.private.swc.additional-service-details-consumer</key>
	<true/>
	<key>com.apple.private.swc.system-app</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceMediaLibrary</string>
		<string>kTCCServiceCamera</string>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceFaceID</string>
	</array>
	<key>com.apple.proactive.PersonalizationPortrait.Event</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.NamedEntity.readOnly</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.Topic.readOnly</key>
	<true/>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>243LU875E5.groups.com.apple.podcasts</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/mobile/Library/Preferences/com.apple.restrictionspassword.plist</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/mobile/Media/Podcasts/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/DeviceRegistry/</string>
		<string>/Library/Preferences/com.apple.mediaremote.plist</string>
		<string>/Library/NanoMusicSync/</string>
		<string>/Library/Caches/com.apple.AppleMediaServices/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.sociallayerd</string>
		<string>com.apple.rtcreportingd</string>
		<string>com.apple.appstored.xpc</string>
		<string>com.apple.appstored.xpc.updates</string>
		<string>com.apple.commerce</string>
		<string>com.apple.coremedia.endpointpicker.xpc</string>
		<string>com.apple.coremedia.routediscoverer.xpc</string>
		<string>com.apple.coremedia.routingcontext.xpc</string>
		<string>com.apple.coremedia.endpointremotecontrolsession.xpc</string>
		<string>com.apple.familycircle.agent</string>
		<string>com.apple.routined.registration</string>
		<string>com.apple.adid</string>
		<string>com.apple.ibooks.BLService</string>
		<string>com.apple.sharingd.nsxpc</string>
		<string>com.apple.mediaartworkd.xpc</string>
		<string>com.apple.proactive.PersonalizationPortrait.Event</string>
		<string>com.apple.proactive.PersonalizationPortrait.NamedEntity.readOnly</string>
		<string>com.apple.proactive.PersonalizationPortrait.Topic.readOnly</string>
		<string>com.apple.chrono.avocadocontrollerconnection</string>
		<string>com.apple.xpc.amsaccountsd</string>
		<string>com.apple.passd.in-app-payment</string>
		<string>com.apple.askpermissiond</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.SocialLayer</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.suggestions</string>
	</array>
	<key>com.apple.security.files.bookmarks.app-scope</key>
	<true/>
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.sociallayerd</string>
		<string>com.apple.SocialLayer</string>
		<string>com.apple.proactive.PersonalizationPortrait.SocialHighlight</string>
		<string>com.apple.siri.VoiceShortcuts.xpc</string>
		<string>com.apple.chrono.avocadocontrollerconnection</string>
		<string>com.apple.coreidvd.proofing</string>
		<string>com.apple.xpc.amsengagementd</string>
	</array>
	<key>com.apple.security.temporary-exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.SocialLayer</string>
		<string>com.apple.iTunes</string>
	</array>
	<key>com.apple.springboard.activateassistant</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.openurlinbackground</key>
	<true/>
	<key>com.apple.springboard.shortcutitems.customimage</key>
	<true/>
	<key>com.apple.springboard.wallpaperAnimationSuspension</key>
	<true/>
	<key>com.apple.symptom_analytics.query</key>
	<true/>
	<key>com.apple.symptoms.NetworkOfInterest</key>
	<true/>
	<key>com.apple.telephony.cupolicy-rw-access</key>
	<true/>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<array>
		<string>access-call-providers</string>
	</array>
	<key>dynamic-codesigning</key>
	<true/>
	<key>fairplay-client</key>
	<string>1025382176</string>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>243LU875E5.com.apple.podcasts</string>
	</array>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>container2</string>
	</array>
</dict>
</plist>
