<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.iBooks.iBooksProductPageExtension</string>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.developer.icloud-container-development-container-identifiers</key>
	<array>
		<string>iCloud.com.apple.iBooks</string>
		<string>iCloud.com.apple.iBooks.iTunesU</string>
	</array>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Development</string>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudDocuments</string>
		<string>CloudKit</string>
	</array>
	<key>com.apple.iBooks.BDSService.private</key>
	<true/>
	<key>com.apple.ibooks.BLService.private</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceMediaLibrary</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.apple.iBooks</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/mobile/Media/Books/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Caches/com.apple.AppleMediaServices/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.backlightd</string>
		<string>com.apple.askpermissiond</string>
		<string>com.apple.ak.anisette.xpc</string>
		<string>com.apple.familycircle.agent</string>
		<string>com.apple.ibooks.BLService</string>
		<string>com.apple.iBooks.BookDataStoreService</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.AppleMediaServices</string>
	</array>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.media.shared.books</string>
		<string>systemgroup.com.apple.media.books.managed</string>
	</array>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>fairplay-client</key>
	<string>1328318286</string>
</dict>
</plist>
