<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.DiagnosticsService.Diagnostic-8262</string>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
		<string>identity</string>
	</array>
	<key>com.apple.DiagnosticsKit.diagnosticmanager</key>
	<true/>
	<key>com.apple.DiagnosticsKit.extension</key>
	<true/>
	<key>com.apple.keystore.fdr-access</key>
	<true/>
	<key>com.apple.keystore.sik.access</key>
	<true/>
	<key>com.apple.lsapplicationworkspace.rebuildappdatabases</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>UniqueChipID</string>
	</array>
	<key>com.apple.private.applesepmanager.allow</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.img4.nonce.pdi</key>
	<true/>
	<key>com.apple.private.mobile_storage.allowedSPI</key>
	<array>
		<string>MountDevice</string>
	</array>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>Lookup</string>
		<string>UpdatePlaceholderMetadata</string>
		<string>GetAppMetadata</string>
		<string>EnumerateInstalledAppsForLaunchServices</string>
		<string>CopyInstalledAppsForLaunchServices</string>
		<string>LookupSystemAppState</string>
		<string>UpdateSystemAppState</string>
	</array>
	<key>com.apple.private.security.AppleImage4.user-client</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/personalized_factory/</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/mobile/RepairDiskImage/</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>AppleMobileApNonceUserClient</string>
		<string>AppleSEPUserClient</string>
		<string>AppleImage4UserClient</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.corerepair</string>
		<string>com.apple.mobile.storage_mounter.xpc</string>
		<string>com.apple.lsd.modifydb</string>
		<string>com.apple.lsd.xpc</string>
	</array>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.lsd</string>
	</array>
	<key>com.apple.system.diagnostics.iokit-properties</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.DiagnosticsService.Diagnostic-8262</string>
	</array>
</dict>
</plist>
