<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>ZL6BUSYGB3.com.apple.stocks.widget</string>
	<key>aps-environment</key>
	<string>production</string>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.companionappd.connect.allow</key>
	<true/>
	<key>com.apple.coretelephony.CTCarrierSettings.allow</key>
	<true/>
	<key>com.apple.coretelephony.Identity.get</key>
	<true/>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>com.apple.stocks.private</string>
		<string>com.apple.news.public.staging</string>
		<string>com.apple.news.public</string>
		<string>com.apple.news.public.qa</string>
		<string>com.apple.news.public.sandbox</string>
		<string>com.apple.news.public.demo1</string>
		<string>com.apple.news.public.demo2</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>com.apple.stocks</string>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>UniqueDeviceID</string>
	</array>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.canGetAppLinkInfo</key>
	<true/>
	<key>com.apple.private.canModifyAppLinkPermissions</key>
	<true/>
	<key>com.apple.private.cloudkit.serviceNameForContainerMap</key>
	<dict>
		<key>com.apple.stocks.private</key>
		<string>com.apple.stocks.private</string>
	</dict>
	<key>com.apple.private.cloudkit.setEnvironment</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.security.container-required</key>
	<true/>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.apple.stocks</string>
		<string>group.com.apple.stocks-news</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.companionappd</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>fairplay-client</key>
	<string>1417937365</string>
</dict>
</plist>
