<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adi-client</key>
	<string>379332956</string>
	<key>application-identifier</key>
	<string>com.apple.AppStore</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.CoreTelephony.DataUsageInfo.allow</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.accounts.appleidauthentication.defaultaccess</key>
	<true/>
	<key>com.apple.appleaccount.custodian</key>
	<true/>
	<key>com.apple.appstored.install-apps</key>
	<true/>
	<key>com.apple.appstored.private</key>
	<true/>
	<key>com.apple.appstored.update-apps</key>
	<true/>
	<key>com.apple.appstored.xpc.updates</key>
	<true/>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.cdp.recoverykey</key>
	<true/>
	<key>com.apple.corerecents.recentsd</key>
	<true/>
	<key>com.apple.developer.usernotifications.time-sensitive</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.itunescloud.in-app-message-service</key>
	<true/>
	<key>com.apple.itunesstored.metrics</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.launchservices.receivereferrerrurl</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.payment.card-on-file</key>
	<true/>
	<key>com.apple.private.CoreAuthentication.SPI</key>
	<true/>
	<key>com.apple.private.DistributedEvaluation.RecordAccess-com.apple.ap.APODMLDESPlugin</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>UniqueDeviceID</string>
	</array>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.accounts.customaccesssinfo</key>
	<true/>
	<key>com.apple.private.ap.idmanager</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.appstorecomponents</key>
	<true/>
	<key>com.apple.private.appstored</key>
	<array>
		<string>Purchase</string>
		<string>Library</string>
		<string>IAPHistory</string>
		<string>Personalization</string>
		<string>Update</string>
		<string>PurchaseHistory</string>
	</array>
	<key>com.apple.private.avatar.store</key>
	<true/>
	<key>com.apple.private.bmk.allow</key>
	<true/>
	<key>com.apple.private.canGetAppLinkInfo</key>
	<true/>
	<key>com.apple.private.canIgnoreAppLinkOpenStrategy</key>
	<true/>
	<key>com.apple.private.cfnetwork.har-capture-amp</key>
	<true/>
	<key>com.apple.private.corerecents</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.familycircle</key>
	<true/>
	<key>com.apple.private.hid.client.event-dispatch.internal</key>
	<true/>
	<key>com.apple.private.hsa-authentication-processing</key>
	<true/>
	<key>com.apple.private.iad.opt-in-control</key>
	<true/>
	<key>com.apple.private.ids.remoteurlconnection</key>
	<true/>
	<key>com.apple.private.in-app-payments</key>
	<true/>
	<key>com.apple.private.launchservices.suppresscustomschemeprompt</key>
	<string>*</string>
	<key>com.apple.private.logging.diagnostic</key>
	<true/>
	<key>com.apple.private.security.storage.triald</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceCamera</string>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceMediaLibrary</string>
		<string>kTCCServiceFaceID</string>
	</array>
	<key>com.apple.proactive.eventtracker</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/mobile/Library/Application Support/com.apple.VideoSubscriberAccount</string>
		<string>/private/var/mobile/Library/Application Support/com.apple.VideoSubscriberAccount/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-only</key>
	<array>
		<string>/Library/Caches/com.apple.iTunesCloud/InAppMessages/ResourceCache/</string>
		<string>/Library/Trial/NamespaceDescriptors/</string>
		<string>/Library/Trial/Treatments/511/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Caches/com.apple.storeservices/</string>
		<string>/Library/com.apple.itunesstored/</string>
		<string>/Library/Caches/com.apple.AppleMediaServices/</string>
		<string>/Library/Logs/com.apple.StoreServices/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.ap.promotedcontent.pcinterface</string>
		<string>com.apple.ap.promotedcontent.mescalinterface</string>
		<string>com.apple.ap.promotedcontent.metrics</string>
		<string>com.apple.ap.promotedcontent.supportinterface</string>
		<string>com.apple.askpermissiond</string>
		<string>com.apple.corerecents.recentsd</string>
		<string>com.apple.appstored.xpc.jobmanager</string>
		<string>com.apple.appstored.xpc.request</string>
		<string>com.apple.lsd.xpc</string>
		<string>com.apple.appstored.xpc.updates</string>
		<string>com.apple.symptom_analytics</string>
		<string>com.apple.ap.adprivacyd.idmanager</string>
		<string>com.apple.ap.adprivacyd.opt-out</string>
		<string>com.apple.familycircle.agent</string>
		<string>com.apple.appstored.xpc</string>
		<string>com.apple.siri-distributed-evaluation</string>
		<string>com.apple.itunescloud.in-app-message-service</string>
		<string>com.apple.AppleMediaServicesUIDynamicService</string>
		<string>com.apple.appstorecomponentsd.xpc</string>
		<string>com.apple.passd.in-app-payment</string>
		<string>com.apple.xpc.amsaccountsd</string>
		<string>com.apple.hsa-authentication-server</string>
		<string>com.apple.ap.adprivacyd.store</string>
		<string>com.apple.aa.custodian.xpc</string>
		<string>com.apple.cdp.daemon</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.AdLib</string>
		<string>com.apple.gamecenter</string>
		<string>com.apple.AppStore</string>
		<string>com.apple.Fitness</string>
		<string>com.apple.itunesstored</string>
		<string>com.apple.springboard</string>
		<string>com.apple.AppleMediaServices</string>
		<string>com.apple.AppStoreComponents</string>
		<string>com.apple.AdPlatforms</string>
	</array>
	<key>com.apple.security.system-group-containers</key>
	<array>
		<string>systemgroup.com.apple.VideoSubscriberAccount</string>
	</array>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.symptom_analytics.query</key>
	<true/>
	<key>com.apple.symptoms.NetworkOfInterest</key>
	<true/>
	<key>com.apple.telephony.cupolicy-rw-access</key>
	<true/>
	<key>com.apple.trial.client</key>
	<array>
		<string>511</string>
		<string>512</string>
	</array>
	<key>dynamic-codesigning</key>
	<true/>
	<key>fairplay-client</key>
	<string>1699554724</string>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.VideoSubscriberAccount</string>
	</array>
</dict>
</plist>
