<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.arkitd</string>
	<key>com.apple.geoservices.restricted-tiles</key>
	<array>
		<string>visuallocalization</string>
	</array>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.private_info</key>
	<true/>
	<key>com.apple.locationd.simulation</key>
	<true/>
	<key>com.apple.locationd.trusted_ARKit_hinter</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>arkitd</string>
	</array>
</dict>
</plist>
