<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HKReadAuthorizationOverrideEntitlement</key>
	<array>
		<string>HKCharacteristicTypeIdentifierDateOfBirth</string>
	</array>
	<key>application-identifier</key>
	<string>com.apple.tipsd</string>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.appletv.pbs.bulletin-service-access</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.cards.overview-access</key>
	<true/>
	<key>com.apple.chrono.invalidate-timelines</key>
	<true/>
	<key>com.apple.chronoservices</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.coreduetd.people</key>
	<true/>
	<key>com.apple.des.com.apple.tips.TipsPFLPlugin</key>
	<true/>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<string>com.apple.tipsd</string>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>com.apple.tipsd</string>
	<key>com.apple.icloud.findmydeviced.access</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.beaconmanager</key>
	<true/>
	<key>com.apple.nano.nanoregistry</key>
	<true/>
	<key>com.apple.payment.all-access</key>
	<true/>
	<key>com.apple.private.DistributedEvaluation.RecordAccess-com.apple.tips.TipsPFLPlugin</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>DeviceMesaType</string>
		<string>RearFacingCameraSuperWideCameraCapability</string>
		<string>UniqueDeviceID</string>
	</array>
	<key>com.apple.private.appstored</key>
	<array>
		<string>IAPHistory</string>
	</array>
	<key>com.apple.private.biome.read-only</key>
	<array>
		<string>AppLaunch</string>
		<string>UserFocusComputedMode</string>
	</array>
	<key>com.apple.private.carkit</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.healthkit.healthrecords.account-info</key>
	<true/>
	<key>com.apple.private.healthkit.medicaliddata</key>
	<array>
		<string>read-setup-status</string>
	</array>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.tips</string>
	</array>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.nsurlsession.impersonate</key>
	<true/>
	<key>com.apple.private.remindd</key>
	<dict>
		<key>readWritePublic</key>
		<true/>
	</dict>
	<key>com.apple.private.screen-time</key>
	<true/>
	<key>com.apple.private.sleepd</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceMediaLibrary</string>
		<string>kTCCServiceWillow</string>
	</array>
	<key>com.apple.private.tips.allow</key>
	<true/>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.tips</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.apple.ip.redirects</string>
		<string>group.com.apple.tips</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.siriknowledged</key>
	<true/>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>tipsd</string>
	</array>
</dict>
</plist>
