<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.AppleNVMeEAN.allow</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>internal</string>
		<string>spi</string>
		<string>identity</string>
	</array>
	<key>com.apple.DiagnosticsKit.extension</key>
	<true/>
	<key>com.apple.DiagnosticsSupport.CallStatsAccess</key>
	<true/>
	<key>com.apple.DiagnosticsSupport.HardwareButtonAccess</key>
	<true/>
	<key>com.apple.EnhancedLoggingState.client</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.camera.iokit-user-access</key>
	<true/>
	<key>com.apple.coretelephony.Identity.get</key>
	<true/>
	<key>com.apple.hid.manager.user-access-keyboard</key>
	<true/>
	<key>com.apple.hid.multitouch.user-access</key>
	<true/>
	<key>com.apple.keystore.fdr-access</key>
	<true/>
	<key>com.apple.keystore.sik.access</key>
	<true/>
	<key>com.apple.mobileactivationd.spi</key>
	<true/>
	<key>com.apple.nano.nanoregistry</key>
	<true/>
	<key>com.apple.nfcacd.hwmanager</key>
	<true/>
	<key>com.apple.nfcd.ce</key>
	<true/>
	<key>com.apple.nfcd.hwmanager</key>
	<true/>
	<key>com.apple.nfcd.info</key>
	<true/>
	<key>com.apple.nvmetunnel.allow</key>
	<true/>
	<key>com.apple.private.CacheDelete</key>
	<array>
		<string>ITEMIZED_PURGEABLE_ENTITLEMENT</string>
		<string>CLIENT_ENTITLEMENT</string>
		<string>PURGE_ENTITLEMENT</string>
	</array>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>BasebandUniqueId</string>
		<string>BluetoothAddress</string>
		<string>EUICCChipID</string>
		<string>IntegratedCircuitCardIdentifier</string>
		<string>InternationalMobileEquipmentIdentity</string>
		<string>MesaSerialNumber</string>
		<string>MLBSerialNumber</string>
		<string>MobileEquipmentInfoCSN</string>
		<string>MobileEquipmentIdentifier</string>
		<string>RawPanelSerialNumber</string>
		<string>SerialNumber</string>
		<string>UniqueChipID</string>
		<string>UniqueDeviceID</string>
		<string>WifiAddress</string>
		<string>WirelessBoardSnum</string>
		<string>SysCfgDict</string>
		<string>BatterySerialNumber</string>
		<string>RoswellChipID</string>
		<string>BootManifestHash</string>
		<string>ArrowChipID</string>
		<string>ArrowUniqueChipID</string>
	</array>
	<key>com.apple.private.bmk.allow</key>
	<true/>
	<key>com.apple.private.externalaccessory.showallaccessories</key>
	<true/>
	<key>com.apple.private.gasgauge-update</key>
	<true/>
	<key>com.apple.private.hid.client.admin</key>
	<true/>
	<key>com.apple.private.hid.client.event-filter</key>
	<true/>
	<key>com.apple.private.hid.client.service-protected</key>
	<true/>
	<key>com.apple.private.hid.manager.client</key>
	<true/>
	<key>com.apple.private.iokit.batterydata</key>
	<true/>
	<key>com.apple.private.powersource-read</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceMicrophone</string>
		<string>kTCCServiceCamera</string>
	</array>
	<key>com.apple.private.touch.eeprom.access</key>
	<true/>
	<key>com.apple.security.exception.carrier-bundle.read</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/preboot/</string>
		<string>/private/var/mobile/Library/Logs/AppleSupport/</string>
		<string>/private/var/logs/AppleSupport/</string>
		<string>/private/var/tmp/biokit_hw_issue_notification</string>
		<string>/private/var/mobile/Library/Preferences/com.apple.demo-settings.plist</string>
		<string>/private/var/mobile/Library/Preferences/com.apple.Accessibility.plist</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>AppleNVMeUpdateUC</string>
		<string>AppleGasGaugeUpdateUserClient</string>
		<string>AppleGasGaugeUpdate</string>
		<string>AppleBasebandUserClient</string>
		<string>AppleOscarUserClient</string>
		<string>IOAccessoryManagerUserClient</string>
		<string>AppleSPUUserClient</string>
		<string>AppleSPUHIDDeviceUserClient</string>
		<string>AppleMultitouchSPIUserClient</string>
		<string>AppleMultitouchDeviceUserClient</string>
		<string>AppleEmbeddedTouchEEPROMDriverUC</string>
		<string>AppleNVMeEANUC</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.iokit.powerdxpc</string>
		<string>com.apple.CheckerBoard.jail.com.apple.frontboard.systemappservices</string>
		<string>com.apple.CheckerBoard.jail.com.apple.frontboard.workspace</string>
		<string>com.apple.nfcd.hwmanager</string>
		<string>com.apple.nfcacd.hwmanager</string>
		<string>com.apple.backlightd</string>
		<string>com.apple.mobileactivationd</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.springboard</string>
		<string>com.apple.purplebuddy</string>
		<string>com.apple.enhanced-logging-state</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.Diagnostics</string>
	</array>
	<key>com.apple.seld.cm</key>
	<true/>
	<key>com.apple.seld.tsmmanager</key>
	<true/>
	<key>com.apple.system.diagnostics.iokit-properties</key>
	<true/>
	<key>com.apple.system.get-hardware-identifiers</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
</dict>
</plist>
