<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.mobilemail.MailQuickLookExtension</string>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.private.email</key>
	<true/>
	<key>com.apple.private.tcc.allow.overridable</key>
	<array>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.apple.mail</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.PointerUI.pointeruid.service</string>
		<string>com.apple.fontservicesd</string>
		<string>com.apple.email.maild</string>
		<string>com.apple.tccd</string>
		<string>com.apple.WebKit.GPU</string>
	</array>
</dict>
</plist>
