<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.Diagnostics</string>
	<key>com.apple.AppleNVMeEAN.allow</key>
	<true/>
	<key>com.apple.AppleServiceToolkit.host</key>
	<true/>
	<key>com.apple.CheckerBoard.services</key>
	<true/>
	<key>com.apple.CheckerBoard.services.reboot</key>
	<true/>
	<key>com.apple.DiagnosticExtensions.extensionHost</key>
	<true/>
	<key>com.apple.DiagnosticsKit.diagnosticmanager</key>
	<true/>
	<key>com.apple.DiagnosticsKit.reportmanager</key>
	<true/>
	<key>com.apple.DiagnosticsSupport.CallStatsAccess</key>
	<true/>
	<key>com.apple.DiagnosticsSupport.HardwareButtonAccess</key>
	<true/>
	<key>com.apple.EnhancedLoggingState.client</key>
	<true/>
	<key>com.apple.UIKit.vends-view-services</key>
	<true/>
	<key>com.apple.accessibility.AXSBServer.assertions</key>
	<true/>
	<key>com.apple.application-identifier</key>
	<string>com.apple.Diagnostics</string>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.backboard.displaybrightness</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Production</string>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.developer.pluginkit.provide-environment</key>
	<true/>
	<key>com.apple.diagnosticextensionsd.xpcclient</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.frontboard.shutdown</key>
	<true/>
	<key>com.apple.hid.manager.user-access-keyboard</key>
	<true/>
	<key>com.apple.homekit.private-spi-access</key>
	<true/>
	<key>com.apple.keystore.sik.access</key>
	<true/>
	<key>com.apple.mobileactivationd.device-identifiers</key>
	<true/>
	<key>com.apple.mobileactivationd.spi</key>
	<true/>
	<key>com.apple.multitasking.systemappassertions</key>
	<true/>
	<key>com.apple.nano.nanoregistry</key>
	<true/>
	<key>com.apple.nano.nanoregistry.pairunpairobliterate</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>SysCfg</string>
		<string>InternationalMobileEquipmentIdentity</string>
		<string>SerialNumber</string>
		<string>UniqueChipID</string>
		<string>UniqueDeviceID</string>
	</array>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.BridgeAssets</string>
	</array>
	<key>com.apple.private.cloudkit.systemService</key>
	<true/>
	<key>com.apple.private.corerepair.attestation</key>
	<true/>
	<key>com.apple.private.corerepair.xpc</key>
	<true/>
	<key>com.apple.private.externalaccessory.showallaccessories</key>
	<true/>
	<key>com.apple.private.hid.client.admin</key>
	<true/>
	<key>com.apple.private.hid.client.event-filter</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.hid.client.service-protected</key>
	<true/>
	<key>com.apple.private.hid.manager.client</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.iosdiagnostics.icloud</string>
	</array>
	<key>com.apple.private.iokit.nvram-write-access</key>
	<true/>
	<key>com.apple.private.security.container-required</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceWillow</string>
		<string>kTCCServiceCamera</string>
		<string>kTCCServiceLiverpool</string>
	</array>
	<key>com.apple.security.attestation.access</key>
	<true/>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Logs/com.apple.diagnosticextensionsd/com.apple.enhanced-logging-state/</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>AppleNVMeEANUC</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.corerepair</string>
		<string>com.apple.Checkerboard.UIKit.statusbarserver</string>
		<string>com.apple.Checkerboard.UIKit.KeyboardManagement.hosted</string>
		<string>com.apple.CheckerBoard.jail.com.apple.frontboard.systemappservices</string>
		<string>com.apple.CheckerBoard.jail.com.apple.frontboard.workspace</string>
		<string>com.apple.iosdiagnosticsd</string>
		<string>com.apple.CheckerBoard.services</string>
		<string>com.apple.backlightd</string>
		<string>com.apple.mobileactivationd</string>
		<string>com.apple.SharingServices</string>
		<string>com.apple.identityservicesd.embedded.auth</string>
		<string>com.apple.accessibility.AXSpringBoardServer</string>
		<string>com.apple.diagnosticextensionsd.session</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.purplebuddy</string>
		<string>com.apple.AppleServiceToolkit</string>
		<string>diagnosticextensionsd</string>
		<string>com.apple.diagnosticextensionsd</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.Diagnostics</string>
		<string>com.apple.enhanced-logging-state</string>
	</array>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.DiagnosticsKit</string>
	</array>
	<key>com.apple.sharing.Client</key>
	<true/>
	<key>com.apple.sharing.DeviceDiscovery</key>
	<true/>
	<key>com.apple.springboard.appbackgroundstyle</key>
	<true/>
	<key>com.apple.springboard.disallowControlCenter</key>
	<true/>
	<key>com.apple.springboard.disallowNotificationCenter</key>
	<true/>
	<key>com.apple.springboard.hardware-button-service.event-consumption</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.setVoiceControlEnabled</key>
	<true/>
	<key>com.apple.springboard.setWantsLockButtonEvents</key>
	<true/>
	<key>com.apple.springboard.statusbarstyleoverrides</key>
	<true/>
	<key>com.apple.system.diagnostics.iokit-properties</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>lockdown-identities</string>
	</array>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
