<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.smsFilter.extension</string>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
		<string>identity</string>
	</array>
	<key>com.apple.CoreML.adopter</key>
	<string>73CF80FE-76C7-406B-809B-D6FA768F9602</string>
	<key>com.apple.developer.coreml.model-deployment</key>
	<true/>
	<key>com.apple.private.security.storage.triald</key>
	<true/>
	<key>com.apple.proactive.eventtracker</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/mobile/Library/</string>
		<string>/private/var/mobile/Containers/</string>
		<string>/private/var/mobile/Library/Trial/Treatments/</string>
		<string>/System/Library/</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.trial.client</key>
	<array>
		<string>245</string>
	</array>
	<key>com.apple.triald.namespace-management</key>
	<true/>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>parsecd</string>
	</array>
</dict>
</plist>
